<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choice?</title>
    <script>
        function json() {
            window.location.href = "/currently_playing_json";
        }
        function html() {
            window.location.href = "/currently_playing";
        }
    </script>
</head>
<body>
    <h1>Choose your location</h1>
    <button onclick="">JSON</button>
    <button>HTML</button>
</body>
</html>